<h1>Citabox</h1>
<p>Bienvenue dans Citabox !</p>
<%= flash[:info] %>

<% if @current_user %>
  <p>Inscris comme <%= @current_user.username %></p>
  <%= link_to 'Se deconnecter', '/pages/disconnect' %>
<% else %>
	<p>Se connecter</p>
	<%= form_tag "/pages/login", method: :post do %>
		<input type="text" name="username" placeholder="nom d'utilisateur">
		<input type="password" name="password" placeholder="mot de passe">
	    <input type="submit" value="Se connecter">
	<% end %>
<% end %>

<h2>Citations :</h2>

<% if @current_user %>
	<%= link_to 'Nouvelle citation', '/pages/create' %>
<% else %>
	<p>connectez vous pour rajouter des citations</p>
<% end %>

<% if @quotes %>
	<% @quotes.each do |quote| %>
		<p><%= quote.content %></p>
		<p>posté par <%= quote.user.username %></p>

		<% if @current_user %>
			<% if quote.user == @current_user || @current_user.role == "admin" %>
				<%= link_to 'Modifier', "/pages/#{quote.id}" %>
			<% end %>
		<% end %>

		<br/>
	<% end %>
<% end %>


